<div id="gameboard">

</div>
@section Scripts
{
    <script src="~/Scripts/crafty.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/domineeringgameboard.js"></script>
}


