<div id="gameboard" style="border-style: solid">

</div>
@section Scripts
{
    <script src="~/Scripts/crafty.js"></script>
    <script src="~/Scripts/nimgameboard.js"></script>
    <script src="~/Scripts/nim2dgameboard.js"></script>
    <script src="~/Scripts/domineeringgameboard.js"></script>
    <script src="~/Scripts/othellogameboard.js"></script>
    <script src="~/Scripts/gameselector.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/parametersSelector.js"></script>
}



