<div id="gameboard">

</div>
@section Scripts
{
    <script src="~/Scripts/crafty.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/othellogameboard.js"></script>
    <script defer>setupOthello()</script>
}